* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "TS-Reg", sans-serif;
    background-color: #fff;
}

h1, h2, h3 {
    font-family: "TS-Med", sans-serif;
}

p a {
    color: black;
}